/*
    LANDING PAGE
*/

#welcome-page .title { padding: 5px 15px 15px 15px; font-size: 11vw; }
#welcome-page h1, 
#welcome-page h2 { color: #fff; }
#welcome-page h1 { font-size: 100%; font-weight: 500; }
#welcome-page h2 { margin: 3.2% 0; font-size: 63%; }
#welcome-page .img-and-overlay { display: none; }
#welcome-page .overlay { color: #fff; }
#welcome-page .overlay h3 { line-height: 1; margin-bottom: 10px; }
#welcome-page .overlay.sm { 
    display: flex; flex-direction: column; align-items: center;
    background: rgba(0,0,0,0.6); padding: 20px; margin: 0 0 0 15px;
}
#welcome-page .overlay.sm h3 { font-size: 2.5rem; }
#welcome-page .overlay.sm p { font-size: 1.8rem; margin-bottom: 0; }
#welcome-page .overlay.sm > div:first-child { border-left: 4px solid #e62234; padding-left: 20px; }
#welcome-page .overlay.sm .circle-btn { margin-top: 10%; }
@media (min-width: 375px) {
    #welcome-page .title { padding-top: 15px; }
    #welcome-page .overlay.sm .circle-btn { margin-top: 20px; }
}
@media (min-width: 410px) {
    #welcome-page .title { font-size: 4.5rem; }
}
@media (min-width: 768px) {
    #welcome-page .title { padding: 7.8125% 0 0 12.207%; }
    #welcome-page h2 { margin: 3.8% 0; }
    #welcome-page .img-and-overlay { display: block; }
    #welcome-page .sm { display: none; }
    #welcome-page .overlay.lg { position: absolute; top: 50%; left: 60%; width: 33.5%; padding: 0 1% 0 1%; font-size: 2.43vw; }
    #welcome-page .overlay.lg h3 { font-size: 100%; }
    #welcome-page .overlay.lg p { font-size: 72%; }
    #welcome-page .circle-btn { position: absolute; bottom: 3%; right: 7%; }
}
@media (min-width: 1024px) {
    #welcome-page .circle-btn { bottom: 4%; right: 9%; }
}
@media (min-width: 1029px) {
    #welcome-page .overlay.lg { font-size: 2.5rem; }
}

/* 
    MENU
*/

.topic-mnu li[role="presentation"] { display: none; }

.topic-mnu-item button {
    position: relative;
    margin: 0; width: 100%; height: 113px;
    padding: 14px;
    background: #590d2b; color: #fff; border: 1px solid #d2d2d4; border-radius: 0;
    font-size: 2rem; /*font-weight: 500;*/ font-weight: 400;
    display: flex; align-items: flex-end; text-align: left;
    transition: background-color 0.25s, color 0.25s;
}

.topic-mnu-item button:hover .done-indicator path,
.topic-mnu-item button:focus .done-indicator path,
.topic-mnu-item button:active .done-indicator path {
    fill: #a7627d;
}
.topic-mnu-item button .done-indicator.svg { position: absolute; top: 9px; right: 0; }
.topic-mnu-item button .done-indicator svg { width: 46.336px; height: 49.5px; }
.topic-mnu-item button .done-indicator path { fill: #fff; transition: fill 0.25s; }
.topic-0-complete .topic-mnu-item.topic-0 button,
.topic-1-complete .topic-mnu-item.topic-1 button,
.topic-2-complete .topic-mnu-item.topic-2 button,
.topic-3-complete .topic-mnu-item.topic-3 button,
.topic-4-complete .topic-mnu-item.topic-4 button {
    background: #a7627d;
}
.topic-mnu-item button:hover,
.topic-mnu-item button:focus,
.topic-mnu-item button:active {
    background: #fff !important; color: #590d2b;
}
@media (min-width: 768px) {
    #menu-page .img-and-overlay > div { display: flex; flex-direction: column; justify-content: center; }
    .topic-mnu { padding: 0 44px; display: flex; flex-wrap: wrap; }
    .topic-mnu li[role="presentation"] { display: block; flex-basis: 100%; height: 0; }
    .topic-mnu-item { margin: 11px; }
    .topic-mnu-item button { width: auto; border-radius: 4px; border-color: #590d2b; border-width: 2px; }
    .topic-0-complete .topic-mnu-item.topic-0 button,
    .topic-1-complete .topic-mnu-item.topic-1 button,
    .topic-2-complete .topic-mnu-item.topic-2 button,
    .topic-3-complete .topic-mnu-item.topic-3 button,
    .topic-4-complete .topic-mnu-item.topic-4 button {
        border-color: #a7627d;
    }
}
@media (min-width: 1024px) {
    #menu-page .img-and-overlay > div { display: block; padding-top: 22%; }
}

/*
    TOPIC PAGES
*/


#page-m1_t1_p1 #banner { background: url(../content/images/t1_banner_sm.jpg); background-size: cover; }
#page-m1_t1_p1 #banner-message { bottom: 1.5625%; left: 1.5625%; }
@media (min-width: 768px) {
    #page-m1_t1_p1 #banner-message { bottom: auto; left: auto; top: 4%; right: 20px; }
}
@media (min-width: 992px) {
  
}

#page-m1_t2_p1 #banner { background: url(../content/images/t2_banner_xs.jpg); background-size: cover; }
#page-m1_t2_p1 #banner-message { bottom: 10px; left: 86px; }
@media (min-width: 375px) {
    #page-m1_t2_p1 #banner-message { left: 105px; }
}
@media (min-width: 479px) {
    #page-m1_t2_p1 #banner { background: url(../content/images/t2_banner_sm.jpg); background-size: cover; }
    #page-m1_t2_p1 #banner-message { left: 250px; }
}
@media (min-width: 768px) {
  #page-m1_t2_p1 #banner-message { bottom: auto; left: auto; top: 4%; right: 20px; }
}

#page-m1_t2_p1 [data-idx="4"] .img { position: relative; max-width: 450px; margin: 0 auto; margin-top: 15px; }
#page-m1_t2_p1 [data-idx="4"] .img > img { display: block; width: 100%; }
#page-m1_t2_p1 [data-idx="4"] .img ul { list-style: none; padding: 0; font-size: 3.9vw; font-weight: normal; }
#page-m1_t2_p1 [data-idx="4"] .img li { position: absolute; display: flex; align-items: center; justify-content: center; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(1) { top: 0; left: 0; width: 36%; height: 25.8%; padding-left: 1.4%; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(2) { top: 59%; right: 2%; width: 32%; height: 39%; padding-left: 2.6%; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(3) { bottom: 4%; left: 0; width: 46%; height: 13%; }
@media (min-width: 462px) {
    #page-m1_t2_p1 [data-idx="4"] .img ul { font-size: 1.8rem; }
}