#menu-overlay {
    display: none; pointer-events: none;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(255,255,255,0.5); opacity: 0; transition: opacity 0.4s;
}
html.menu-in #menu-overlay { opacity: 1; }

#page-m1_menu #slide-pages-container { overflow-x: hidden; max-width: 1024px; margin: 0 auto; }
#page-m1_menu #slide-pages-container > div { width: 200%; display: flex; transition: transform 0.4s ease-out; }
#page-m1_menu #slide-pages-container.menu-in > div { transform: translateX(-50%); }
#page-m1_menu #slide-pages-container > div > div { position: relative; width: 50%; padding: 0 15px; }

@media (max-width: 1023px), (orientation: portrait) {
    #page-m1_menu body,
    #page-m1_menu #slide-pages-container,
    #page-m1_menu #slide-pages-container > div,
    #page-m1_menu #slide-pages-container > div > div { min-height: 100vh; }
}

#page-m1_menu .img-and-overlay { position: relative; }
#page-m1_menu .img-and-overlay > img { display: block; width: 100%; }
#page-m1_menu .img-and-overlay > div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

#page-m1_menu body { background: url(../content/images/menu_portrait.jpg); background-size: cover; }
@media (min-width: 1024px) and (orientation: landscape) {
    #page-m1_menu body { background: url(../content/images/menu.jpg); background-size: cover; }
    #page-m1_menu #menu-overlay { display: block; }
}

#menu-squiggle { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url("../content/images/menu_squiggle.svg"); background-size: cover; }
#page-m1_menu #menu-squiggle { display: block; }
@media (orientation: portrait) {
    #menu-squiggle { transform: translateY(23%); }
}

/*
    LANDING PAGE
*/

#welcome-page .title { padding: 5px 15px 15px 15px; font-size: 11vw; }
#welcome-page h1, 
#welcome-page h2 { color: #fff; }
#welcome-page h1 { font-size: 100%; font-weight: 500; }
#welcome-page h2 { margin: 3.2% 0; font-size: 63%; }
#welcome-page .img-and-overlay { display: none; }
#welcome-page .overlay { color: #fff; background: rgba(0,0,0,0.6); padding: 20px; }
#welcome-page .overlay > div:first-child { border-left: 4px solid #e62234; padding-left: 20px; }
#welcome-page .overlay h3 { line-height: 1; margin-bottom: 10px; }
#welcome-page .overlay.lg > div:last-child { text-align: right; margin-top: 20px; }
#welcome-page .overlay.sm { 
    display: flex; flex-direction: column; align-items: center;
    margin: 0 0 0 15px;
}
#welcome-page .overlay.sm h3 { font-size: 2.5rem; }
#welcome-page .overlay.sm p { font-size: 1.8rem; margin-bottom: 0; }
#welcome-page .overlay.sm .circle-btn { margin-top: 10%; }
@media (min-width: 375px) {
    #welcome-page .title { padding-top: 15px; }
    #welcome-page .overlay.sm .circle-btn { margin-top: 20px; }
    #welcome-page .overlay.sm { margin-top: 10%; }
}
@media (min-width: 410px) {
    #welcome-page .title { font-size: 4.5rem; }
}
@media (min-width: 414px) {
    #welcome-page .overlay.sm { margin-top: 20%; }
}
@media (min-width: 768px) {
    #welcome-page .title { padding: 7.8125% 0 0 12.207%; }
    #welcome-page h2 { margin: 3.8% 0; }
    #welcome-page .overlay.lg h3 { font-size: 100%; }
    #welcome-page .overlay.lg p { font-size: 72%; }
    #welcome-page .overlay.sm { margin-top: 30%; }
}
@media (min-width: 1024px) and (orientation: landscape) {
    #welcome-page .img-and-overlay { display: block; }
    #welcome-page .sm { display: none; }
    #welcome-page .overlay.lg { position: absolute; bottom: 0%; left: 60%; width: 33.5%; font-size: 2.43vw; }
}
@media (min-width: 1029px) {
    #welcome-page .overlay.lg { font-size: 2.5rem; }
}

/* 
    MENU
*/

#menu-page .img-and-overlay > img { display: none; }

.topic-mnu li[role="presentation"] { display: none; }

.topic-mnu-item button {
    position: relative;
    margin: 0; width: 100%; height: 113px;
    padding: 14px;
    background: #590d2b; color: #fff; border: 1px solid #d2d2d4; border-radius: 0;
    font-size: 2rem; /*font-weight: 500;*/ font-weight: 400;
    display: flex; align-items: flex-end; text-align: left;
    transition: background-color 0.25s, color 0.25s;
}

.topic-mnu-item button:hover .done-indicator path,
.topic-mnu-item button:focus .done-indicator path,
.topic-mnu-item button:active .done-indicator path {
    fill: #a7627d;
}
.topic-mnu-item button .done-indicator.svg { position: absolute; top: 9px; right: 0; }
.topic-mnu-item button .done-indicator svg { width: 46.336px; height: 49.5px; }
.topic-mnu-item button .done-indicator path { fill: #fff; transition: fill 0.25s; }
.topic-0-complete .topic-mnu-item.topic-0 button,
.topic-1-complete .topic-mnu-item.topic-1 button,
.topic-2-complete .topic-mnu-item.topic-2 button,
.topic-3-complete .topic-mnu-item.topic-3 button,
.topic-4-complete .topic-mnu-item.topic-4 button {
    background: #a7627d;
}
.topic-mnu-item button:hover,
.topic-mnu-item button:focus,
.topic-mnu-item button:active {
    background: #fff !important; color: #590d2b;
}
@media (min-width: 1024px) and (orientation: landscape) {
    #menu-page .img-and-overlay > img { display: block; }
    #menu-page .img-and-overlay > div { padding-top: 22%; }
    .topic-mnu { padding: 0 44px; display: flex; flex-wrap: wrap; }
    .topic-mnu li[role="presentation"] { display: block; flex-basis: 100%; height: 0; }
    .topic-mnu-item { margin: 11px; }
    .topic-mnu-item button { width: auto; border-radius: 4px; border-color: #590d2b; border-width: 2px; }
    .topic-0-complete .topic-mnu-item.topic-0 button,
    .topic-1-complete .topic-mnu-item.topic-1 button,
    .topic-2-complete .topic-mnu-item.topic-2 button,
    .topic-3-complete .topic-mnu-item.topic-3 button,
    .topic-4-complete .topic-mnu-item.topic-4 button {
        border-color: #a7627d;
    }
}

/*
    TOPIC PAGES
*/


#page-m1_t1_p1 #banner { background: url(../content/images/t1_banner_sm.jpg); background-size: cover; background-position: 29%; }
#page-m1_t1_p1 .banner-message { bottom: 1.5625%; left: 1.5625%; }
@media (min-width: 992px) {
    #page-m1_t1_p1 .banner-message { bottom: auto; left: auto; top: 4%; right: 20px; }
}

#page-m1_t1_p1 .row[data-idx="4"] .squiggle-container { height: 250.818px; }

#page-m1_t2_p1 #banner { background: url(../content/images/t2_banner_sm.jpg); background-size: cover; background-position: 50%; }
#page-m1_t2_p1 .banner-message { bottom: 3%; left: 3%; }
@media (min-width: 980px) {
  #page-m1_t2_p1 .banner-message { bottom: auto; left: auto; top: 4%; right: 20px; }
}

#page-m1_t2_p1 [data-idx="4"] .img { position: relative; max-width: 450px; margin: 0 auto; margin-top: 15px; }
#page-m1_t2_p1 [data-idx="4"] .img > img { display: block; width: 100%; }
#page-m1_t2_p1 [data-idx="4"] .img ul { list-style: none; padding: 0; font-size: 3.9vw; font-weight: normal; }
#page-m1_t2_p1 [data-idx="4"] .img li { position: absolute; display: flex; align-items: center; justify-content: center; line-height: 1.2; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(1) { top: 0; left: 0; width: 38.4%; height: 25.8%; padding-left: 3.4%; padding: 0 3.4%; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(2) { top: 4%; right: 0; width: 54%; height: 19.6%; padding-left: 2.6%; padding: 0 2.6%; }
#page-m1_t2_p1 [data-idx="4"] .img li:nth-child(3) { bottom: 1.5%; left: 0; width: 46%; height: 14.5%; }
@media (min-width: 462px) {
    #page-m1_t2_p1 [data-idx="4"] .img ul { font-size: 1.8rem; }
}
@media (min-width: 568px) {
    #page-m1_t2_p1 [data-idx="4"] .img li { line-height: 1.5556; }
}
#page-m1_t2_p1 [data-idx="5"] .squiggle-container { height: 296px; }
#page-m1_t2_p1 [data-idx="5"] .key-message p { max-width: 580px; }

.panel-squiggle { display: none; pointer-events: none; position: absolute; top: 0; left: 0; transform: translateX(0px) translateY(100px); }
[data-idx="6"] .btn-read-transcript { position: relative; }
[data-idx="7"] .want-to-know-more-panel .boxes > li { background: #f8f2f4; }
@media (min-width: 1024px) {
    #page-m1_t2_p1 .panel-squiggle { display: block; }
}

#page-m1_t3_p1 #banner { background: url(../content/images/t3_banner_sm.jpg); background-size: cover; background-position: 25%; }
#page-m1_t3_p1 .banner-message { bottom: 5%; right: 5%;  }
#page-m1_t3_p1 .banner-message .back > div { margin-left: 13px; }
@media (min-width: 768px) {
    #page-m1_t3_p1 .banner-message .back > div { margin-left: 22px; }
}
@media (min-width: 980px) {
    #page-m1_t3_p1 .banner-message { bottom: auto; right: 15px; left: auto; top: 50%; transform: translateY(-50%); }
}
@media (min-width: 1200px) {
    #page-m1_t3_p1 .banner-message { right: 0; top: 50px; transform: none; }
}

#page-m1_t3_p1 [data-idx="2"] .squiggle-container { height: 265px; }
#page-m1_t3_p1 [data-idx="2"] .key-message p { max-width: 690px; }
#page-m1_t3_p1 [data-idx="4"] .squiggle-container { height: 250px; }
#page-m1_t3_p1 [data-idx="4"] .key-message p { max-width: 650px; }
#page-m1_t3_p1 .want-to-know-more-panel .boxes > li { padding: 26px; }

#page-m1_t4_p1 #banner { background: url(../content/images/t4_banner_sm.jpg); background-size: cover; background-position: 0; }
#page-m1_t4_p1 .banner-message { left: 50%; transform: translateX(-50%); bottom: 5%; }
@media (min-width: 980px) {
    #page-m1_t4_p1 .banner-message { bottom: auto; right: auto; left: 15%; top: 50%; transform: translateY(-50%); }
}

.social-quiz-panel .instructions { padding: 15px; }
.social-media-options .question { padding-left: 0; padding-right: 0; }
.social-media-options .multiple-choice-quiz-options { display: flex; margin: 0; }
.browser-ie .social-media-options ul { margin-left: 30px; }
.browser-ie .social-media-options li { display: block; }
.social-media-options li { margin: 0; }
.social-media-options li .indicator { display: none; }
.social-media-options li svg { width: 71px; height: 71px; }
.social-media-options li svg { width: 10vw; height: 10vw; }
.social-media-options li svg .outer { opacity: 0; transition: opacity 0.25s; }
/* .social-media-options li.checked svg .outer { opacity: 1; } */
.social-media-options[data-correct="false"] li[data-required="true"] svg .outer,
.social-media-options[data-correct="true"] li[data-required="true"] svg .outer { opacity: 1; }
.social-media-options[data-correct="false"] li[data-required="true"],
.social-media-options[data-correct="true"] li[data-required="true"] { background: none; padding: 0; }
.social-media-options .response .first { font-size: 2.4rem; font-weight: bold; text-align: center; }
.keyboard-nav .social-media-options .multiple-choice-quiz-options .focussed-pseudo:before { top: -2px; left: -2px; width: 75px; height: 75px;}
.social-media-options .btn-check-multi-choice-answer { margin: 15px 15px 0 0; }
.social-post { position: relative; max-width: 600px; margin: 0 auto; }
.social-post > img { display: block; width: 100%; }
.social-post .multiple-choice-quiz { position: absolute; left: 3.5%; margin: 0; }
.social-post.fb-1 .multiple-choice-quiz { bottom: 9%; }
.social-post.twitter .multiple-choice-quiz { bottom: 3%; }
.social-post.insta .multiple-choice-quiz { bottom: 23%; }
.social-post.fb-2 .multiple-choice-quiz { bottom: 1%; }
#carousel-1 .carousel-indicators-container,
#carousel-1 .carousel-nav { background: #f8f8f8; }
#carousel-1 .carousel-indicators-container { margin-top: 0; padding-top: 8px; }
#carousel-1 .carousel-nav { padding-bottom: 25px; }
.social-media-options .response { min-height: 436px; }
.social-media-options svg .transition { transition: fill 0.25s; }
.icon-emoji-cry:hover ellipse.transition,
.social-media-options li.checked .icon-emoji-cry ellipse.transition,
.social-media-options .icon-emoji-think:hover circle.transition, 
.social-media-options li.checked .icon-emoji-think circle.transition,
.icon-emoji-laugh:hover circle.transition,
.social-media-options li.checked .icon-emoji-laugh circle.transition,
.icon-emoji-heart:hover circle.transition,
.social-media-options li.checked .icon-emoji-heart circle.transition,
.icon-emoji-clap:hover circle.transition,
.social-media-options li.checked .icon-emoji-clap circle.transition { fill: #FFD500; }
.icon-emoji-laugh:hover .mouth,
.social-media-options li.checked .icon-emoji-laugh .mouth,
.social-media-options .icon-emoji-think:hover .hand,
.social-media-options li.checked .icon-emoji-think .hand,
.icon-emoji-clap:hover .hand,
.social-media-options li.checked .icon-emoji-clap .hand { fill: #FFf; }
@media (min-width: 375px) {
    .social-media-options .response { min-height: 408px; }
}
@media (min-width: 414px) {
    .social-media-options .response { min-height: 380px; }
}
@media (min-width: 576px) {
    .social-media-options .response { min-height: 324px; }
}
@media (min-width: 711px) {
    .social-media-options li svg { width: 71px; height: 71px; }
}
@media (min-width: 768px) {
    .social-media-options .response { min-height: unset; min-height: none;  }
    .social-quiz-panel .instructions { padding: 50px; }
    .social-media-options li svg { width: 6.8vw; height: 6.8vw; }
}
@media (min-width: 992px) {
    #carousel-1 .carousel-nav { padding-bottom: 50px; }
}
@media (min-width: 1045px) {
    .social-media-options li svg { width: 71px; height: 71px; }
}

#page-m1_t4_p1 [data-idx="2"] .squiggle-container { height: 312px; }
#page-m1_t4_p1 [data-idx="2"] .key-message p { max-width: initial; max-width: unset; }

#page-m1_t4_p1 .want-to-know-more-panel .boxes > li { padding: 26px; }

#page-m1_t5_p1 #banner { background: url(../content/images/t5_banner_sm.jpg); background-size: cover; background-position: 25%; }
#page-m1_t5_p1 .banner-message { font-size: 2.57rem; left: 10px; bottom: 10px; }
@media (min-width: 768px) {
    #page-m1_t5_p1 .banner-message { font-size: 3rem; bottom: auto; right: auto; left: 55%; top: 50%; transform: translateY(-50%); }
}
#page-m1_t5_p1 [data-idx="1"] .squiggle-container { height: 312px; }
#page-m1_t5_p1 [data-idx="1"] .key-message p { max-width: 610px; }
@media (min-width: 768px) {
    #page-m1_t5_p1 [data-idx="1"] .container > div { padding-left: 180px; }
}
#page-m1_t5_p1 .tiles { list-style: none; padding: 0; display: flex; flex-wrap: wrap; }
#page-m1_t5_p1 .tiles li { margin: 10px; }
#page-m1_t5_p1 .tiles button {
    position: relative;
    /*display: flex; align-items: flex-end; text-align: left;*/
    width: 100%; min-width: 175px; height: 113px;
    padding: 14px;
    background: #590d2b; border: 2px solid #590d2b; border-radius: 4px;
    color: #fff; font-size: 2rem; font-weight: 400;
    transition: background-color 0.25s, color 0.25s;
}
#page-m1_t5_p1 .tiles button:hover,
#page-m1_t5_p1 .tiles button:focus,
#page-m1_t5_p1 .tiles button:active { background: #fff; color: #590d2b; }
#page-m1_t5_p1 .tiles button svg { position: absolute; top: 8px; right: 8px; width: 26px; height: 20px; fill: #fff; transition: fill 0.25s; }
#page-m1_t5_p1 .tiles button:hover svg,
#page-m1_t5_p1 .tiles button:focus svg,
#page-m1_t5_p1 .tiles button:active svg { fill: #590d2b; }
#page-m1_t5_p1 .tiles li:not(.item-done) .done-indicator { display: none; }
#page-m1_t5_p1 .row[data-idx="4"] .squiggle-container { height: 296px; }
#page-m1_t5_p1 .row[data-idx="4"] .key-message p { max-width: unset; max-width: none; }
@media (min-width: 768px) and (max-width: 1023px) {
    #page-m1_t5_p1 .row[data-idx="4"] { padding-top: 100px; }
}

#page-m1_t5_p2 footer { display: none; }
#page-m1_t5_p2 #banner { background: url(../content/images/t5_s2_banner_sm.jpg); background-size: cover; background-position: 0%; }
#page-m1_t5_p2 .row[data-idx="2"] > .container:first-of-type { padding: 0 !important; }
#page-m1_t5_p2 .key-message-panel .squiggle-container { height: 247px; }
#page-m1_t5_p2 .key-message-panel .key-message p { margin-bottom: 70px; }
#page-m1_t5_p2 .key-message-panel { padding-top: 25px; }
@media (min-width: 768px) {
    #page-m1_t5_p2 .key-message-panel .container { padding-top: 60px; }
    #page-m1_t5_p2 .key-message-panel .container > div { padding-left: 140px; }
}
@media (min-width: 992px) {
    #page-m1_t5_p2 .key-message-panel { padding-top: 50px; }
}

#page-m1_t5_p3 footer { display: none; }
#page-m1_t5_p3 #banner { background: url(../content/images/t5_s3_banner_sm.jpg); background-size: cover; background-position: 23%; }
#page-m1_t5_p3 .row[data-idx="1"] .container { padding-left: 0; padding-right: 0; padding-bottom: 0; }
#page-m1_t5_p3 .row[data-idx="1"] .large-img { display: none; }
#page-m1_t5_p3 .row[data-idx="1"] .container > div:first-of-type { padding: 15px; background: #f8f8f8; }
#page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 450px; }
#page-m1_t5_p3 .row[data-idx="1"] .carousel-nav { padding-bottom: 0 !important; }
@media (min-width: 375px) {
    #page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 394px; }
}
@media (min-width: 414px) {
    #page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 366px; }
}
@media (min-width: 576px) {
    #page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 282px; }
}
@media (min-width: 768px) {
    #page-m1_t5_p3 .row[data-idx="1"] .container { padding: 0 !important; display: flex; }
    #page-m1_t5_p3 .row[data-idx="1"] .container > div:first-of-type { width: 58%; padding: 25px; background: #f8f8f8; }
    #page-m1_t5_p3 .row[data-idx="1"] .small-img { display: none; }
    #page-m1_t5_p3 .row[data-idx="1"] .large-img { display: block; width: 42%; background: #f8f8f8; background: url(../content/images/t5_s3_carousel_lg.jpg); background-size: cover; }
    #page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 406px; }
}
@media (min-width: 992px) {
    #page-m1_t5_p3 .row[data-idx="1"] .container > div:first-of-type { padding: 50px; }
    #page-m1_t5_p3 .row[data-idx="1"] .item { min-height: 310px; }
}
#page-m1_t5_p3 .row[data-idx="2"] > .container:first-of-type { padding: 0 !important; }
#page-m1_t5_p3 .key-message-panel .squiggle-container { height: 250.818px; }
#page-m1_t5_p3 .key-message-panel .key-message p { max-width: 560px; }

#page-m1_t5_p4 footer { display: none; }
#page-m1_t5_p4 #banner { background: url(../content/images/t5_s4_banner_sm.jpg); background-size: cover; background-position: 80%; }
#page-m1_t5_p4 .key-message-panel .squiggle-container { height: 246px; }
#page-m1_t5_p4 .key-message-panel .key-message p { max-width: 750px; }
@media (min-width: 768px) {
    #page-m1_t5_p4 .key-message-panel .container > div { padding-left: 60px; }
}
#page-m1_t5_p4 .row[data-idx="2"] > .container:first-of-type { padding: 0 !important; }

#page-m1_completion #banner { background: url(../content/images/completion_sm.jpg); background-size: cover; background-position: 25%; }
#page-m1_completion .banner-message { bottom: 2%; left: 2%; }
@media (min-width: 980px) {
    #page-m1_completion .banner-message { bottom: auto; right: auto; left: 63%; top: 50%; transform: translateY(-50%); }
}