body { color: #3E3E3E; }

/*
    HEADER
*/

header.masthead { height: 65px; background: #fff !important; }
header.masthead ul.components { display: flex; align-items: center; justify-content: space-between; }
header.masthead ul.components > li { float: none; }
#page-title { flex: 1; padding: 0 15px; }
#page-title h1 { 
    margin: 0; font-family: inherit; color: #590d2b; font-size: 2rem; line-height: 65px;
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
.show-header-title #page-title { position: static; width: auto; height: auto; margin: 0; overflow: hidden; clip: auto; }
#dropdown-mnu-main { display: none; }
#logo-and-audio-buffering { line-height: 65px; margin-right: 15px; }
.show-when-audio-buffering span { position: static; color: #590d2b; }
#audio-buffering-spinner { margin: 0; }
.audio-buffering .show-when-audio-buffering { display: flex !important; align-items: center; }
.logo-lg { display: none; }
section.main { padding-top: 65px; }
@media (min-width: 768px) {
    .logo-sm { display: none; }
    .logo-lg { display: block; }
}

/* 
    FOOTER
*/

footer { display: none; max-width: 1920px; margin: 0 auto; padding: 30px 0; background: #590D2B; }
.in-topic-page footer,
[data-type="completion"] footer { display: block; }
footer .primary { font-weight: 500; }
footer ul { list-style: none; padding: 0; }
footer li { margin: 8px 0; }
footer,
footer a,
footer a:hover,
footer a:focus,
footer a:active { color: #fff; }
footer .topic-links { padding-left: 10px; }
footer .topic-link,
footer .save-link { display: flex; align-items: flex-start; line-height: 2.5674rem; }
footer .topic-link svg,
footer .save-link svg { width: 2.5674rem; height: 2.5674rem; flex-shrink: 0; }
footer .icon-topic-list,
footer .icon-save { margin-right: 10px; }
footer .icon-topic-list-complete { visibility: hidden; margin-left: 10px; }
.topic-0-complete footer .topic-0 .icon-topic-list,
.topic-1-complete footer .topic-1 .icon-topic-list,
.topic-2-complete footer .topic-2 .icon-topic-list,
.topic-3-complete footer .topic-3 .icon-topic-list,
.topic-4-complete footer .topic-4 .icon-topic-list,
.topic-5-complete footer .topic-5 .icon-topic-list { visibility: hidden; }
.topic-0-complete footer .topic-0 .icon-topic-list-complete,
.topic-1-complete footer .topic-1 .icon-topic-list-complete,
.topic-2-complete footer .topic-2 .icon-topic-list-complete,
.topic-3-complete footer .topic-3 .icon-topic-list-complete,
.topic-4-complete footer .topic-4 .icon-topic-list-complete,
.topic-5-complete footer .topic-5 .icon-topic-list-complete { visibility: visible; }

@media (min-width: 768px) {
    footer { padding: 50px; }
}

/*
    BUTTONS
*/

.button { background: none; border: none; padding: 0; border-radius: 0; }

.button-default {
padding: 13px 30px;
border: 2px solid #590d2b; border-radius: 4px; background: #fff; color: #590D2B;
font-size: 1.8rem; font-weight: 500;
transition: background-color 0.25s, color 0.25s;
}
.button-default:disabled { opacity: 0.5; }
.button-default:not(:disabled):hover,
.button-default:not(:disabled):focus,
.button-default:not(:disabled):active { background: #590d2b; color: #fff; }

.circle-btn { position: relative; padding: 0; border: none; background: none; width: 8rem; font-weight: 500; perspective: 1000px; }
.circle-btn > div { height: 0; padding-top: 100%; perspective: 1000px; transform-style: preserve-3d; }
.circle-btn .faces { position: absolute; top: 0; right: 0; bottom: 0; left: 0; transition: transform 0.6s; transform-style: preserve-3d; }
.circle-btn .face { 
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    display: flex; align-items: center; justify-content: center;
    border-radius: 50%;
    backface-visibility: hidden; transition: transform 0.6s; transform-style: preserve-3d;
}
.circle-btn .front { border: 2px solid #590d2b; background: #fff; color: #590d2b; z-index: 2; transform: rotateY(0deg); }
.circle-btn .back { border: 2px solid #fff; background: #590d2b; color: #fff; transform: rotateY(-180deg); }
.circle-btn:hover .back,
.circle-btn:active .back,
.circle-btn:focus .back { transform: rotateY(0deg); }
.circle-btn:hover .front,
.circle-btn:active .front,
.circle-btn:focus .front { transform: rotateY(180deg); }

/*
    COMPONENTS
*/

.accordion { background: #fff; }
.accordion-item { margin-bottom: 1px; }
.accordion-tab { 
    display: flex; justify-content: space-between;
    background: #A7627D; color: #fff !important;
    font-size: 2rem; font-weight: 500; text-decoration: none !important;
    padding: 20px 16px 6px 16px; 
    transition: background-color 0.25s;
}
.accordion-tab:hover,
.accordion-tab:focus,
.accordion-tab:active { background: #590D2B; }
.accordion-tab > div { display: flex; align-items: center; }
.accordion-panel { font-weight: 200; }
.accordion-panel > div { padding: 10px 4px; }

.accordion-item .icon-plus { 
    flex-shrink: 0; width: 16px; height: 16px; margin-right: 10px; stroke: #fff;
    fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px;
    transition: transform 0.5s; transform-origin: center;
}
.accordion-item .icon-plus .horizontal-line { transition: transform 0.5s; transform-origin: center; }

.accordion-item .expanding .icon-plus,
.accordion-item .expanded:not(.closing) .icon-plus { transform: rotate(90deg); }
.accordion-item .expanding .icon-plus .horizontal-line,
.accordion-item .expanded:not(.closing) .icon-plus .horizontal-line { transform: scale(0); }

.accordion-tab:not(.item-done) .done-indicator { display: none; }
.accordion-tab .icon-tick { width: 26px; height: 20px; margin-left: 10px; fill: #fff; }

@media (min-width: 768px) {
    .accordion-panel > div { padding: 20px 34px; }
}

.carousel-indicators-container { display: flex; justify-content: center; margin-top: 8px; }
.carousel-indicators-container .carousel-indicators { position: static; margin-left: 0; width: auto;  }
.carousel-nav { display: flex; justify-content: center; }
.carousel-nav > div { display: flex; }
.carousel-nav a { display: block; }
.carousel-nav [data-slide="prev"] { margin-right: 15px; }
.carousel a svg { width: 42.19px; height: 42.19px; }
.carousel-indicators-container .carousel-indicators li,
.carousel-indicators-container .carousel-indicators li.active { width: 14px; height: 14px; margin: 1px; background: none; }
.carousel-indicators-container .carousel-indicators li { padding: 3px; border-radius: 50%; border: 1px solid #d2d2d4; }
.carousel-indicators-container .carousel-indicators li > div { height: 100%; border-radius: 50%; background: none; transition: background-color 0.25s; }
.carousel-indicators-container .carousel-indicators li.active > div { background: #590d2b; }

/*
    PANELS
*/

.bg-white { background-color: #fff; }
.bg-1 { background: #f8f2f4; }
.bg-2 { background: #fafafa; }
.bg-3 { background: #fbfbfb; }
.bg-4 { background: #f8f8f8; }
.bg-5 { background: #fcfcfc; }

.horizontal-panels { font-weight: 200; color: #3E3E3E; }
.horizontal-panels > .row { padding: 25px 0; overflow: hidden; /* hide squiggle overflows */ }
.horizontal-panels h2 { color: #590D2B; font-size: 3rem; font-weight: bold; }
@media (min-width: 768px) {
    .horizontal-panels > .row { padding: 25px; }
}
@media (min-width: 992px) {
    .horizontal-panels > .row { padding: 50px; }
}

.squiggle { fill: none; stroke: #d2d2d4; stroke-width: 3; }

#banner { position: relative; max-width: 1920px; margin: 0 auto; height: 370px; }
#banner .container { padding: 0; height: 100%; }
#banner > img { display: none; }
.banner-message { position: absolute; width: 230px; font-size: 3rem; line-height: 1.25714; font-weight: bold; color: #a7627d; perspective: 1000px; }
.banner-message span { color: #590d2b; }
.banner-message > div { height: 0; padding-top: 100%; perspective: 1000px; transform-style: preserve-3d; }
.banner-message .faces { position: absolute; top: 0; right: 0; bottom: 0; left: 0; transition: transform 1s; transform-style: preserve-3d; }
.banner-message .face {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background: #fff; border-radius: 50%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    backface-visibility: hidden; transition: transform 0.6s; transform-style: preserve-3d;
}
.banner-message .front { z-index: 2; transform: rotateY(0deg); background: #590d2b; border: 4px solid #fff; }
.banner-message .back { transform: rotateY(-180deg); }
.banner-message.flipped .back { transform: rotateY(0deg); }
.banner-message.flipped .front { transform: rotateY(180deg); }
.banner-message.reversed { color: #fff; }
.banner-message.reversed span { color: #e1cad4; }
.banner-message.reversed .front { background: #fff; border: 4px solid #590d2b; }
.banner-message.reversed .back { background: #590d2b; }
@media (min-width: 768px) {
    #banner:not(.break-lg) { height: auto !important; background: none !important; }
    #banner:not(.break-lg) .container { position: relative; }
    #banner:not(.break-lg) > img { display: block; width: 100%; }
    #banner:not(.break-lg) > div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
    .banner-message { width: 266px; font-size: 3.5rem; }
}
@media (min-width: 980px) {
    #banner.break-lg { height: auto !important; background: none !important; }
    #banner.break-lg .container { position: relative; }
    #banner.break-lg > img { display: block; width: 100%; }
    #banner.break-lg > div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
}

.scrolldown-learn-more { display: flex; flex-direction: column; align-items: center; text-align: center; width: 150px; color: #a1121e; font-size: 2.1rem; font-weight: 500; }
.scrolldown-learn-more svg { width: 36px; height: 21.41772px; fill: #a1121e; margin-top: 8px; }
.scrolldown-learn-more-panel .last { display: flex; align-items: flex-end; justify-content: center; }
@media (min-width: 768px) {
    .scrolldown-learn-more-panel { display: flex;  }
    .scrolldown-learn-more-panel > div { float: none; }
}

.text-and-img > h2 { padding: 0 15px; }
.text-and-img .text h2 { display: none; }
.text-and-img .img { margin-top: 15px; }
.text-and-img.reversed .img { margin-bottom: 15px; }
@media (min-width: 992px) {
    .text-and-img > h2 { display: none; }
    .text-and-img .text h2 { display: block; }
    .text-and-img { display: flex; }
    .text-and-img.align-center { align-items: center; }
    .text-and-img .img { margin: 0; }
    .text-and-img.reversed { flex-direction: row-reverse; }
    .text-and-img.reversed > div { float: none; }
}

.key-message-panel { padding-left: 0 !important; padding-right: 0 !important; }
.key-message-panel svg { position: relative; left: -2px; }
.key-message-panel > div:not(.lock-overlay) { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 0 15px; }
.key-message-panel.align > div:not(.lock-overlay) { display: flex }
.key-message-panel.align.right > div:not(.lock-overlay) { justify-content: flex-end; }
.key-message-panel.align.center > div:not(.lock-overlay) { align-items: center; }
.key-message { font-size: 7.5vw; font-weight: 500; color: #590D2B; }
.key-message img { margin-right: 19px; }
.key-message p { max-width: 510px; margin: 0; font-style: italic; }
.key-message p span { font-size: 85.7%; font-weight: 200; }
@media (min-width: 467px) {
    .key-message { font-size: 3.5rem; }
}
@media (min-width: 568px) {
    .key-message { display: flex; align-items: flex-start; }
}
@media (min-width: 768px) {
    .key-message-panel > div:not(.lock-overlay) { padding: 0 50px; }
}

.key-message { animation-duration: 1s; animation-fill-mode: forwards; }
.key-message.from-left { transform: translateX(-200%); }
.key-message.from-right { transform: translateX(200%); }
.key-message.from-top { transform: translateY(-200%); }
.key-message.from-bottom { transform: translateY(200%); }
.key-message-in-view .key-message.from-left { animation-name: from-left; }
.key-message-in-view .key-message.from-right { animation-name: from-right; }
.key-message-in-view .key-message.from-top { animation-name: from-top; }
.key-message-in-view .key-message.from-bottom { animation-name: from-bottom; }

@keyframes from-left {
    0% { transform: translateX(-200%) }
    70% { transform: translateX(10%);  animation-timing-function: ease-in-out; }
    100% { transform: translateX(0); animation-timing-function: ease-out; }
}
@keyframes from-right {
    0% { transform: translateX(200%) }
    70% { transform: translateX(-10%);  animation-timing-function: ease-in-out; }
    100% { transform: translateX(0); animation-timing-function: ease-out; }
}
@keyframes from-top {
    0% { transform: translateY(-200%) }
    70% { transform: translateY(10%);  animation-timing-function: ease-in-out; }
    100% { transform: translateY(0); animation-timing-function: ease-out; }
}
@keyframes from-bottom {
    0% { transform: translateY(200%) }
    70% { transform: translateY(-10%);  animation-timing-function: ease-in-out; }
    100% { transform: translateY(0); animation-timing-function: ease-out; }
}

.want-to-know-more-panel .boxes { list-style: none; padding: 0; margin: 100px 0 0 0; }
.want-to-know-more-panel .boxes > li { position: relative; margin: 100px 0 0 0; border: 2px dashed #590D2B; padding: 28px; }
.want-to-know-more-panel .boxes > li:first-child { margin-top: 0; }
.want-to-know-more-panel .boxes > li svg { position: absolute; top: -70px; left: 50%; transform: translateX(-50%); width: 84px; height: 84px; }
.want-to-know-more-panel .boxes li ul { padding-left: 20px; }
@media (min-width: 992px) {
    .want-to-know-more-panel .boxes { display: flex; align-items: flex-start; }
    .want-to-know-more-panel .boxes > li { flex: 1; margin: 0 0 0 50px; }
    .want-to-know-more-panel .boxes > li:first-child { margin-left: 0; }
    .want-to-know-more-panel .boxes > li svg { left: -36px; transform: none; }
}

.multi-choice-panel { padding: 0 !important; }
[data-activity="multiple-choice-quiz"] > div { padding: 15px; }

[data-activity="multiple-choice-quiz"].light-left .question,
[data-activity="multiple-choice-quiz"].light-right .response { background: #fcfcfc; }
[data-activity="multiple-choice-quiz"].light-left .response,
[data-activity="multiple-choice-quiz"].light-right .question { background: #f8f8f8; }
[data-activity="multiple-choice-quiz"] .question .leader { font-weight: 400; }

[data-activity="multiple-choice-quiz"] .response { display: flex; flex-direction: column; align-items: center; justify-content: center; font-weight: 200; }
[data-activity="multiple-choice-quiz"] .response > div { display: flex; flex-direction: column; align-items: center; }
[data-activity="multiple-choice-quiz"] .response svg { display: none; flex-shrink: 0; width: 105px; height: 105px; margin-bottom: 15px; }
[data-activity="multiple-choice-quiz"][data-correct="true"] .response .icon-thumb-up,
[data-activity="multiple-choice-quiz"][data-correct="false"] .response .icon-thumb-down { display: block; }

@media (min-width: 768px) {
    [data-activity="multiple-choice-quiz"] { display: flex; }
    [data-activity="multiple-choice-quiz"] > div { padding: 25px; }
    [data-activity="multiple-choice-quiz"] .question { width: 58%; }
    [data-activity="multiple-choice-quiz"] .response { width: 42%; }
    [data-activity="multiple-choice-quiz"] .response svg { margin-bottom: 25px; }
}

@media (min-width: 992px) {
    [data-activity="multiple-choice-quiz"] > div { padding: 50px; }
}

[data-activity="generic"].activity-done [data-set-activity-complete] { display: none; }

html.final-topic .final-panel .hide-when-almost-done,
html:not(.final-topic) .final-panel .show-when-almost-done { display: none; }
.final-panel .show-when-almost-done { font-weight: 500; }
@media (min-width: 568px) {
    .final-panel button { margin-left: 25px; }
}

@media (min-width: 568px) {
    #page-m1_completion .btns { display: flex; }
    #page-m1_completion .btns > button { margin-left: 25px; }
}