
.module-0 header.masthead, .module-0 #dropdown-mnu-main .dropdown-mnu-items li { background: #00B5E8; }
.module-1 header.masthead, .module-1 #dropdown-mnu-main .dropdown-mnu-items li { background: #EB5B7D; }
.module-2 header.masthead, .module-2 #dropdown-mnu-main .dropdown-mnu-items li { background: #39b04a; }
.module-3 header.masthead, .module-3 #dropdown-mnu-main .dropdown-mnu-items li { background: #ffce00; }
.module-4 header.masthead, .module-4 #dropdown-mnu-main .dropdown-mnu-items li { background: #FF8F00; }

.in-topic-page .module-logo { width: 54px; height: 41px; }
.module-0.topic-0 .module-logo > img { top: -113px; left: 0; }
.module-0.topic-1 .module-logo > img { top: -113px; left: -58px; }
.module-0.topic-2 .module-logo > img { top: -113px; left: -116px; }
.module-1.topic-0 .module-logo > img { top: -159px; left: -58px; }
.module-1.topic-1 .module-logo > img { top: -209px; left: -58px; }
.module-1.topic-2 .module-logo > img { top: -209px; left: -116px; }
.module-1.topic-3 .module-logo > img { top: -209px; left: 0; }
.module-2.topic-0 .module-logo > img { top: -159px; left: 0; }
.module-2.topic-1 .module-logo > img { top: -159px; left: -58px; }
.module-2.topic-2 .module-logo > img { top: -159px; left: -116px; }
.module-3.topic-0 .module-logo > img { top: -159px; left: -58px; }
.module-3.topic-1 .module-logo > img { top: -209px; left: -116px; }
.module-4.topic-0 .module-logo > img { top: -259px; left: 0; }
.module-4.topic-1 .module-logo > img { top: -259px; left: -58px; }
.module-4.topic-2 .module-logo > img { top: -259px; left: -116px; }
.module-4.topic-3 .module-logo > img { top: -309px; left: 0; }

.module-0 .modal.intro-page .modal-header { background: #b1dff4; }
.module-1 .modal.intro-page .modal-header { background: #edd7cd; }
.module-2 .modal.intro-page .modal-header { background: #b5e1b6; }
.module-3 .modal.intro-page .modal-header { background: #fde9a1; }
.module-4 .modal.intro-page .modal-header { background: #f8d9a7; }

#dropdown-mnu-main .dropdown-mnu-items .mnu-item-location,
#dropdown-mnu-main .dropdown-mnu-items li a,
#dropdown-mnu-main .dropdown-mnu-items li:hover a { 
    color: #fff;
}

.module-3 #dropdown-mnu-main .dropdown-mnu-items .mnu-item-location,
.module-3 #dropdown-mnu-main .dropdown-mnu-items li a,
.module-3 #dropdown-mnu-main .dropdown-mnu-items li:hover a { 
    color: #000;
}

.dropdown-mnu a.toggle > img { top: -56px; }
.dropdown-mnu a.toggle:hover > img { top: -8px; }

/*.dropdown-mnu-items li.mnu-item-resources { display: none; }*/

.modal.intro-page .modal-header { background: #b1dff4; }

.bubble blockquote.styled, .bubble > p:not(.lbl-scroll-down) { line-height: normal; }

@media (min-width: 576px)
{
    .bubble blockquote.styled, .bubble > p:not(.lbl-scroll-down),
    .bubble blockquote.styled, .bubble > p:not(.lbl-scroll-down) span { font-size: 27px; font-size: 2.7rem; line-height: normal; }
}

@media (min-width: 768px)
{
    .bubble blockquote.styled, .bubble > p:not(.lbl-scroll-down) { line-height: 31px; line-height: 3.1rem; }
}

/*
    Topic Menu
*/

/* .topic-menu-page { padding-top: 10px; }
.topic-menu-page .rewatch-video-link { margin-top: 20px; }
.topic-menu-page .wrap { margin-top: 0; padding-bottom: 30px; }
.topic-menu-page .clouds { display: none; position: relative; top: -10px; margin-left: 20px; vertical-align: top; }
.topic-mnu-container { width: 100%; max-width: 500px; }
.select-a-topic { margin-top: 20px; }
.topic-mnu-item { margin-top: 20px; width: 100%; }
 
@media (min-width: 576px) {
    .topic-menu-page .wrap { padding-left: 50px; }
    .topic-mnu p { font-size: 26px; font-size: 2.6rem;  }
    .lbl-scroll-down { font-size: 19px; font-size: 1.9rem; }
}

@media (min-width: 768px) {
    .topic-menu-page .wrap { padding-bottom: 0; }
    .topic-menu-page { padding-top: 60px; }
    .topic-menu-page .clouds { display: block; }
    .topic-menu-page .wrap { margin-top: 40px; }
    .select-a-topic { margin-top: 0; }
} */

/*
    COMPLETION
*/

.page-completion #completion-header { margin-top: 15px; }
.page-completion #completion-header > img, .page-completion h2 { float: left; }
.page-completion #completion-header > img { width: 124px; }
.page-completion h2 br { display: none; }
.page-completion h2 { width: calc(100% - 124px - 10px); margin-left: 10px; font-size: 35px; font-size: 3.5rem; line-height: normal; }
.page-completion h3 { margin-bottom: 10px; font-size: 30px; font-size: 3rem; line-height: normal; }
.page-completion .icon-list.tick { margin-top: 30px; margin-bottom: 30px; }
.page-completion .icon-list.tick li { font-size: 2.7rem; line-height: 27px; line-height: 2.7rem; }
.page-completion #policies-list a { text-decoration: underline; color: #0000ff; }
.page-completion #right-col > div { background: #fff; margin: 20px 0 50px 0; padding: 20px 40px; border-top-left-radius: 60px; }
    
@media (min-width: 576px) {
    .page-completion h2 { font-size: 40px; font-size: 4rem; line-height: 50px; line-height: 5rem; }
    .page-completion h2 br { display: inline; }
}

@media (min-width: 768px) {
    .page-completion { padding-bottom: 50px; }
    .page-completion #completion-header { margin-top: 50px; }
    .page-completion h2 { font-size: 53px; font-size: 5.3rem; line-height: 60px; line-height: 6rem; }
    .page-completion #right-col { position: absolute; bottom: 0; right: 0; }
    .page-completion #right-col > div { margin: 0; margin-top: 20px; }
}

/* NEW */
/* NEW */
/* NEW */
/* NEW */

.bg-white { background-color: #fff; }
.bg-1 { background: #f8f2f4; }
.bg-2 { background: #fafafa; }

/* Footer */

footer { display: none; max-width: 1920px; margin: 0 auto; padding: 30px 0; background: #590D2B; }
.in-topic-page footer { display: block; }
footer .primary { font-weight: 500; }
footer ul { list-style: none; padding: 0; }
footer li { margin: 8px 0; }
footer,
footer a,
footer a:hover,
footer a:focus,
footer a:active { color: #fff; }
footer .topic-links { padding-left: 10px; }
footer .topic-link,
footer .save-link { display: flex; align-items: center; }
footer .topic-link svg,
footer .save-link svg { width: 25.674px; height: 25.674px; flex-shrink: 0; }
footer .icon-topic-list,
footer .icon-save { margin-right: 10px; }
footer .icon-topic-list-complete { visibility: hidden; margin-left: 10px; }
.topic-0-complete footer .topic-0 .icon-topic-list,
.topic-1-complete footer .topic-1 .icon-topic-list,
.topic-2-complete footer .topic-2 .icon-topic-list,
.topic-3-complete footer .topic-3 .icon-topic-list,
.topic-4-complete footer .topic-4 .icon-topic-list,
.topic-5-complete footer .topic-5 .icon-topic-list { visibility: hidden; }
.topic-0-complete footer .topic-0 .icon-topic-list-complete,
.topic-1-complete footer .topic-1 .icon-topic-list-complete,
.topic-2-complete footer .topic-2 .icon-topic-list-complete,
.topic-3-complete footer .topic-3 .icon-topic-list-complete,
.topic-4-complete footer .topic-4 .icon-topic-list-complete,
.topic-5-complete footer .topic-5 .icon-topic-list-complete { visibility: visible; }

@media (min-width: 768px) {
    footer { padding: 50px; }
}
